@model IEnumerable<LibraryManagerSystem.Models.category>

@{
    ViewBag.Title = "Index";
}

<h2>Danh mục thể loại</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
    <input type="button"
           class="btn btn-success"
           value="Create New"
           onclick="location.href='@Url.Action("Create", "Category")'" />
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.catname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.catname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            <input type="button"
                   class="btn btn-primary"
                   value="Edit"
                   onclick="location.href='@Url.Action("Edit", "Category", new { id = item.id })'" />
            <input type="button"
                   class="btn btn-info"
                   value="Details"
                   onclick="location.href='@Url.Action("Details", "Category", new { id = item.id })'" />
            <input type="button"
                   class="btn btn-danger"
                   value="Delete"
                   onclick="location.href='@Url.Action("Delete", "Category", new { id = item.id })'" />
            @*@Html.ActionLink("Edit", "Edit", new { id=item.id }) |
        @Html.ActionLink("Details", "Details", new { id=item.id }) |
        @Html.ActionLink("Delete", "Delete", new { id=item.id })*@
        </td>
    </tr>
}

</table>
